*, *::after, *::before{
  box-sizing: border-box;
}

.col-container, .col-container-info{ /* NOTE: general, project info flexbox */
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
}

.index{ /* NOTE: index page flexbox */
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
}

.col-container-nav{ /* NOTE: navigation bar flexbox */
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

.col-nav{
  flex: 2 1 0;
  -webkit-flex: 2 1 0;
  -ms-webkit-flex:  2 1 0;
}

.col-desc{ /* NOTE: project description */
  flex: 1 1 6rem;
  margin-right: 3rem;
}

.col, .col-info{ /* NOTE: general columns, project info */
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-webkit-flex:  1 1 0;
}

.wide-container .col{ /* NOTE: spacing for columns in wide section on illustration page */
  margin: 0 0.5rem 0 0;
}

.spacing .col{
  margin: 0 0.5rem 0 0;
}

.spacing .col:last-child{
  margin-right: 0;
}

.col-2{
  margin-left: 2rem;
}

.align{
  align-items: baseline;
}

.col-index:first-child{
  width: 60%;
  margin-bottom: 1rem;
}

.col-index:nth-child(even){
  width: 40%;
  margin-bottom: 1rem;
}

.col-desc-large{
  flex: 2 1 5rem;
  margin-right: 3rem;
}

.col-desc-larger{
  flex: 2 1 0;
  margin-right: 3rem;
}




/* NOTE: for positioning footer always at the bottom */
.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main{
  flex-grow: 1;
}

header, footer, main{
  flex-shrink: 0;
}



@media only screen and (max-width: 820px) {
  .col-container{
    flex-direction: column;
  }

  .col-container-info{
    margin-top: 2rem;
  }

  .col:last-child{
    margin-left: 0rem;
  }

  .col{
    width: 100%;
  }

  .col:nth-child(n+2){
    margin-top: 2rem;
  }

  .col-index{
    width: 100%;
  }

  .col-index:nth-child(even){
    width: 100%;
  }

  .col-2{
    margin-left: 0;
  }

  .col-nav{
    flex: 1 1 0;
    -webkit-flex: 1 1 0;
    -ms-webkit-flex:  1 1 0;
  }

  .wide-container{
    margin-bottom: 2rem;
  }

  .col-2-images{
    margin-bottom: 2rem;
  }

  .illust-container2 .spacing:last-child{
    margin-top: 2rem;
  }
}
